html,body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outline{
    width: 70%;
    height: 50%;
    margin: 0%;
    padding: 0%;
    background: rgb(248, 131, 151);
    border-radius: 20px;
}
.headingDiv{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
.heading{
    font-family: "Signika";
    font-size: 3vw;
    margin: 0%;
    padding: 0%;
}

.nameDiv{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
}
.name{
    font-family: "Kanit";
    font-weight: 400;
    font-style: normal;
    
    font-size: 3vw;
    margin: 0%;
    padding: 0%;
}


.timeDiv{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
}
.time{
    font-family: "Kanit";
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    margin: 0%;
    padding: 0%;
}

.purchaseDiv{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
}
.purchase{
    font-family: "Kanit";
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    margin: 0%;
    padding: 0%;
}
.buttonDiv{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
}
.button{
    width: 15%;
    height: 80%;
    font-size: 1.5vw;
    font-family: "Righteous";
    border: none;
    border-radius: 5px;
    background: rgb(187, 3, 187);
}
.button:hover{
    background: rgb(156, 1, 156);
}
.loaderDiv{
    width:100%;
    height:70px;
    position:absolute;
    top:10%;
    display:flex;
    justify-content:center;
    align-items:center;
}
    
.loader{
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top: 10px solid aqua;
    border-radius: 50%;
    animation: loading 1s linear infinite;

    display:none;
}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media screen and (max-width:850px){
    .outline{
        height:35%;
    }
}

@media screen and (max-width:500px){
    .outline{
        height:25%;
    }
    .button{
        font-size: 1.3vw;
    }
}
